# [defaults]
# interpreter_python = /usr/bin/python3.12
# interpreter_python = auto_silent 

# [galaxy]
# server_list = published, validated, community

# [galaxy_server.community]
# url=https://galaxy.ansible.com
