name: Build Ansible Execution Environment
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # - name: Set up Python
    #   uses: actions/setup-python@v4
    #   with:
    #     python-version: '3.x'

    - name: Install Ansible Builder
      run: |
        python -m pip install --upgrade pip
        pip install ansible-builder

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Ansible Execution Environment
      env:
        DOCKER_USER: ${{ vars.DOCKER_USERNAME }}
        IMAGE_NAME: proxmox-ee
      run: |        
        IMAGE_TAG=${GITHUB_REF_NAME#v}
        ansible-builder build --container-runtime docker -t "$DOCKER_USER/$IMAGE_NAME:$IMAGE_TAG"
        docker push "$DOCKER_USER/$IMAGE_NAME:IMAGE_TAG"

    - name: Push latest image to docker hub
      env:
        DOCKER_USER: ${{ vars.DOCKER_USERNAME }}
        IMAGE_NAME: proxmox-ee
      run: |        
        IMAGE_TAG=${GITHUB_REF_NAME#v}
        docker tag "$DOCKER_USER/$IMAGE_NAME:${IMAGE_TAG#v}" "$DOCKER_USER/$IMAGE_NAME:latest"
        docker push "$DOCKER_USER/$IMAGE_NAME:latest"
