name: Build Ansible Execution Environment
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # - name: Set up Python
    #   uses: actions/setup-python@v4
    #   with:
    #     python-version: '3.x'

    - name: Install Ansible Builder
      run: |
        python -m pip install --upgrade pip
        pip install ansible-builder

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      if: ${{ secrets.DOCKER_USERNAME != '' && secrets.DOCKER_PASSWORD != '' }}
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Ansible Execution Environment
      run: |
        IMAGE_NAME=proxmox-ee
        IMAGE_TAG=${GITHUB_REF_NAME#v}
        ansible-builder build --container-runtime docker --tag "$DOCKER_USER/$IMAGE_NAME:$IMAGE_TAG"

    - name: Push latest tag
      if: ${{ secrets.DOCKER_USERNAME != '' && secrets.DOCKER_PASSWORD != '' }}
      run: |
        IMAGE_NAME=proxmox-ee
        docker tag "$DOCKER_USER/$IMAGE_NAME:${GITHUB_REF_NAME#v}" "$DOCKER_USER/$IMAGE_NAME:latest"
        docker push "$DOCKER_USER/$IMAGE_NAME:latest"
